<%!
    from corelib.consts import ISSUES_URL_MAPPING as issues_url_mapping
%>
<%def name="navbar(active)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">GiS</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        % for item in issues_url_mapping:
                            % if item == active:
                                <li class="active">
                                    <a href="${issues_url_mapping[item]}">${item}</a>
                                </li>
                            % else:
                                <li>
                                    <a href="${issues_url_mapping[item]}">${item}</a>
                                </li>
                            % endif
                        % endfor
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</%def>
